{% extends 'web/base.html' %}


{% block content %}
    <section class="site-section" id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-3"><h1>Редактирование комента</h1></div>
                <a href="{% url 'detail_game' slug=slug id=game_id %}">Назад</a>

                {% if request.user == comment.user %}
                    <div class="col-md-6 mb-5">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-success">Редактировать</button>
                        </form>
                    </div>
                {% endif %}

            </div>
        </div>
    </section>
{% endblock %}
